<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tealium Tag Management Configuration</title>
    
    <link rel="stylesheet" type="text/css" href="@EPiServer.Shell.Paths.ToShellClientResource("ClientResources/epi/themes/legacy/ShellCore.css")">
    <link rel="stylesheet" type="text/css" href="@EPiServer.Shell.Paths.ToShellClientResource("ClientResources/epi/themes/legacy/ShellCoreLightTheme.css")">
    <script type="text/javascript" src="@EPiServer.Shell.Paths.ToShellClientResource("ClientResources/ShellCore.js")"></script>
    
    <link href="../../../App_Themes/Default/Styles/system.css" type="text/css" rel="stylesheet">
    <link href="../../../App_Themes/Default/Styles/ToolButton.css" type="text/css" rel="stylesheet">
    
    <link href="~/ClientResources/Styles/utags.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div>
        @this.RenderBody()
    </div>
</body>
</html>
