@model EPiServer.Commerce.Catalog.ContentTypes.CatalogContentBase
<div class="row">
    <div class="span12 footer">
        <hr />
        <div class="row">
            <div class="span3">
                <h3>@Html.Translate("/footer/products")</h3>
                
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/company")</h3>
                
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/news")</h3>
                
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/customerzone")</h3>
                
                <ul>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
